header {
  background-color: white;
}

body {
  background-color: white;
  font-family: Helvetica;
}

img {
  display: block;
  margin: 20px; 20px;
  background-color: red;
  padding: 40px;
}

.larger-text {
  font-size:32px;
  color: black;
}

section {
  min-height: 300px;
}

p {
  text-align: left;
  color: black;
  font-size: 20px;
    }
p {
    text-decoration: none;
    color: black;
  }

section {
  color: black;
  font-size: 16px;
}

p {
  background-color: white;
}

header {
  background-color: white;
}
p {
  text-decoration: underline;
}

footer {
  background-color: white;
}
